.header {
    height: 8.5rem;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    padding-left: 3.3rem;
    padding-right: 1.3rem;
}

.header__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.header__logo-img {
    width: 12rem;
}

.header__content {
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 3rem;
}

.color-primarily {
    text-decoration: none;
    font-size: 1.4rem;
    color: #f25737;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee4d2d;
}

.auth-from {
    position: absolute;
    left: 80em;
    background-color: var(--white-color);
    width: 40rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
}

.auth-from__container {
    width: 33.8rem;
}

.auth-from__header {
    position: relative;
    margin-top: 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.auth-from__title {
    font-size: 2.1rem;
    margin: 0;
}

.auth-from__group {
    margin-bottom: 3.2rem;
}

.auth-from__input {
    width: 100%;
    height: 4rem;
    padding-left: 1.8rem;
    font-size: 1.4rem;
    border: 0.1rem solid #dcdcdc;
    border-radius: 0.2rem;
    outline: none;
}

.auth-from__input:focus {
    box-shadow: 0 0 0.3rem #dcdcdc ;
    border-color: #787878 ;
}

.auth-from__control {
    padding-top: 0.3rem;
    margin-bottom: 3rem;
}

.auth-from__control-btn {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ee4d2d;
    cursor: pointer;
    border: none;
}

.auth-from__control-btn--disabled {
    opacity: 0.8;
    cursor: not-allowed ;
}

.auth-from__aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-from__aside--or {
    color: #cfcccc;
    font-size: 1.3rem;
    padding: 0 1rem;
}

.auth-from__aside--dash {
    width: 100%;
    height: 0.1rem;
    background-color: #dbdbdb;
}

.auth-from__socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btn__box--with-icon {
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #bdbdbd;
    padding: 0.8rem 1.9rem;
}

.btn--with-icon {
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.btn__icon {
    font-size: 2.3rem;
    margin-right: 0.5rem;
}

.btn__icon--fb {
    color: rgb(24 119 242);
}

.btn__icon--gg,
.btn__icon--ap {
    color: var(--black-color);
}

.auth-form__policy {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.auth-form__policy-text {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0 auto;
}

.auth-form__policy-link {
    color: #f25737;
    text-decoration: none;
}

.auth-from__switch {
    display: flex;
    justify-content: center;
    margin: 1.7rem 0;
    
}

.auth-from__switch-text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.26);
}



